<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:teal;color:white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;font-weight:bold">Freight Voucher</h4>
            </div>
            <div class="modal-body" style="font-size:11px">
                <h3>Freight details saved successfully.</h3>
            </div>
        </div>
    </div>
</div>
